:root {
    /* Fuentes */
    --fuenteHeading: font-family: 'Maven Pro', sans-serif;
    --fuenteParrafos: 'Quicksand', sans-serif;
    /* Colores */
    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 16px;
    line-height: 2;
}

/* Globales */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.justificar-texto {
    text-align: justify;
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

.boton {
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    color: var(--blanco);
    border-radius: .5rem;
    margin-bottom: 2rem;
    font-family: var(--fuenteHeading);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
}

.error,
.correcto {
    margin: 0;
    padding: .5rem;
    text-align: center;
    font-family: var(--fuenteHeading);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: .5rem;
}

.error {
    background-color: #ff6961;
    color: #9a2f2a;
}

.correcto {
    background-color: #a9d39e;
    color: #4f6c4b;
}

/* Header */
.webp .header {
    background-image: url(../img/banner.webp);
}

.no-webp .header {
    background-image: url(../img/banner.jpg);
}

.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60rem;
}

.header__texto {
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}

.barra {
    padding: 4rem;
}

/* Barra */
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Logo */
.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: 400;
}

.logo__bold {
    font-weight: 700;
}

/* Navegación */
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    border-radius: .5rem;
    transition: font-size .3s ease;
}

.navegacion__enlace:hover {
    font-size: 2rem;
}

/* Blog */
@media (min-width: 480px) {
    .contenido-principal {
        display: grid;
        grid-template-areas: "sidebar"
            "principal";
        grid-template-rows: repeat(2, auto);
        gap: 2rem;
    }

    .blog {
        grid-area: principal;
    }

    .sidebar {
        grid-area: sidebar;
    }
}

@media (min-width: 768px) {
    .contenido-principal {
        grid-template-areas: "principal sidebar";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: unset;
        gap: 4rem;
    }
}

/* Entrada */
.entrada {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--gris);
}

.entrada:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
}

.entrada__contenido>p {
    font-size: 2rem;
}

/* Cursos */
.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.widget-curso__label,
.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: 700;
}

.widget-curso__info,
.curso__info {
    font-weight: 400;
}

.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}

/* Footer */
.footer {
    background-color: var(--negro);
    margin-top: 4rem;
}

/* Sobre Nosotros */
.sobre-nosotros__texto>p {
    font-size: 1.8rem;
    text-align: justify;
}

.sobre__nosotros__imagen img {
    width: 100%;
}

@media (min-width: 992px) {
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
    }
}

/* Cursos */
.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
    font-size: 2rem;
}

.curso:last-of-type {
    border: none;
}

@media (min-width: 768px) {
    .curso {
        display: flex;
        gap: 4rem;
    }

}

/* Contacto */
.contacto-bg {
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
}

.contacto {
    background-color: var(--blanco);
    padding: 5rem 3rem;
    width: 95%;
    margin: -5rem auto 0 auto;
    border-radius: .5rem;
}

.campo {

    margin-bottom: 2rem;
    display: flex;
    gap: 2rem;
}

.campo__label {
    font-family: var(--fuenteHeading);
    font-weight: 700;
    text-align: right;
    flex: 0 0 6rem;
}

@media (min-width: 768px) {
    .campo__label {
        flex: 0 0 10rem;
    }
}

.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
    border-radius: .5rem;
    padding: 1rem;
}

.campo__field--textarea {
    height: 20rem;
}